body {
    background-color: rgb(145, 231, 164);
}

#content-main {
    background-color: rgb(145, 231, 164);
}

#navbar {
    height: 70px;
    position: fixed;
    z-index: 9;
    background-color: rgb(255, 255, 255);

    top: 0;
    left: 0;
    right: 0;
}

#navtitle {
    color: green;
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
}

#navbar a {
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
}

#navleft {
    text-decoration: none;
    margin-top: 10px;
    float: left;
    width: 10px;
}

#navleft img {
    height: 50px;
}

#navright {
    text-decoration: none;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 15px;
    float: right;
    
    
}

.navlink {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.mywidth {
    width: 1200px;
    margin: 0 auto;
    
    height: auto;
}

#about {
    height: 100vh;
    margin-top: 60px;
    padding-top: 100px;
    
    
}

#location {
    
    height: 100vh;
    padding-top: 100px;
    
}

#loc-left {

    margin-top: 150px;
    float: left;
    margin-left: 50px;
    width: 500px;
    text-align: center;
    background-color: rgb(95, 221, 105);
    height: 550px;
    padding-top: 20px;
    border-radius: 30px;
}

#loc-left img {
    margin-top: 30px;
    width: 450px;
    text-align: center;
    margin-bottom: 70px;
}



#loc-right {
    margin-top: 150px;
    padding-top: 20px;
    float: right;
    margin-right: 50px;
    width: 500px;
    height: 550px;
    text-align: center;
    background-color: rgb(95, 221, 105);
    border-radius: 30px;
    
}

#loc-right img {
    margin-top: 30px;
    width: 500px;
    text-align: center;
    margin-bottom: 100px;
}

.btn-success {
    width: 300px;
    height: 50px;
    font-weight: bolder;
    font-size: large;
    color: black;
}


#rewards {
    height: 100vh;
    padding-top: 100px;
    
}



.box {
    height: 300px;
    width: 300px;
    background-color: rgb(95, 221, 105);
    border-radius: 30px;
    float: left;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.box img {
    width: 70px;
    text-align: center;
    margin: 0 auto;
    margin-left: 115px;
    margin-top: 25px;
}

.box h3 {
    text-align: center;
}
.clearfloat {
    clear: both
}


#about h2 {
    text-align: center;
    margin-top: 0px;
}

#about-content {
    margin-top: 70px;
}

.rew-box {
    width: 450px;
    height: 350px;
    background-color: rgb(36, 170, 65);
    border-radius: 30px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}



.rew-box button {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(17, 124, 17);
    color: white;
    border-color: rgb(17, 124, 17);
    text-align: center;
}


#rewards .rewards-pic{
    height:100px;
    width:auto;
}



.box {
    height: 300px;
    width: 300px;
    background-color: rgb(95, 221, 105);
    border-radius: 30px;
    float: left;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.box img {
    width: 70px;
    text-align: center;
    margin: 0 auto;
    margin-left: 115px;
    margin-top: 25px;
}

#rewards-pic2 {
    justify-content: center;
    height: 100px;
    width: auto;
}   
   

.box1 {
    width: 400px;
    height: 400px;
    float: left;
    background-color: rgb(95, 221, 105);
    margin-right: 30px;
    border-radius: 20px;
    text-align: center;
}

#mybox1 {
    margin-left: 150px;
}

.box1 img {
    margin-top: 50px;
    width: 200px;
    height: 160px;
}

#reward1 {
    margin-top: 40px;
    display: flex;
}


.rewards-box{
    background-color:rgb(95,221,105);
    border-radius:30px;
    text-align:center;
    justify-content:center;
    margin:auto;
}

#rewards .rewards-pic{
    height:100px;
    width:auto;
    justify-content:center;
}

#rewards h3{
    padding:0 20px 0px 20px;
}