#content {
    position: absolute;
    height: 100px;  
    top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


.mywidth {
    width: 1100px;
    margin: 0 auto;
    text-align: center;

}

h1#title {
    text-align: center;
    color: rgb(63, 133, 61);
    font-size: 120px;

}

h2 {
    color:rgb(59, 119, 57);
    font-weight: bold;
}



body {
    text-align: center;
}

button {
    margin-top: 60%;
    width: 250px;
    height: 80px;
    
}

.btn-success
{
    border-radius: 200px;
    background-color: rgb(59, 119, 57);
    font-weight: bolder;
    outline-color: rgb(59, 119, 57);
    
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
}

a {
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    color: white;
}

